---
title: Welcome to Rails JSKit
---
%h1.project-name= image_tag "logo.png"

%h1.tagline
  A framework for writing testable,
  %strong lightweight
  JavaScript in your Rails application.

.github-buttons
  = link_to "https://github.com/daytonn/rails_jskit", class: "button" do
    Github
    %i.fa.fa-github

  = link_to "https://github.com/daytonn/rails_jskit/releases", class: "button download" do
    Releases
    %i.fa.fa-download

  = link_to "https://github.com/daytonn/rails_jskit/issues", class: "button issues" do
    Issues
    %i.fa.fa-exclamation-triangle

  = link_to "/documentation.html", class: "button get-started" do
    Get Started
    %i.fa.fa-play

.unframework
  %h2 The UnFramework

  %p As dumb as it is for me to have created yet another JavaScript framework, I contend that JSkit fits in the sweet spot between jQuery soup and full blown fat-client, single-page-app framework. The goal of JSkit is to be a simple, easy-to-use structure for when you need solid, testable JavaScript without the overhead of trying to solve harder problems.

.features
  .why-jskit
    %h2 Why Rails JSKit?
    %p Rails JSKit takes the guesswork out of how to structure the JavaScript in your Rails app. It also provides a simple way to write JavaScript that's easy to read, write, and test. No more dumping blobs of JavaScript into templates or grabbing magic global data available to your scripts.

  .lightweight
    %h2 Lightweight
    %p At under 250 lines of code in total (minus comments), JSKit is an extremely lightweight framework. Not only lightweight in size, JSKit aims to provide a basic structure and nothing more. JSKit sets you up for success, however you choose to build your application.

  .decoupled
    %h2 Decoupled Coordination
    %p Rails JSKit uses an event system to provide a minimal seam between your Rails app and the client-side code. JSKit controllers map 1-to-1 to Rails controllers, allowing you to coordinate execution of JavaScript at key points in the response cycle. Seamlessly pass data to your JSKit controllers directly from your Rails controllers, avoiding global variables dumped into templates.
